<p><b>
Home Page</b></p>

<div>
  <p>Counter : {{counter}}</p>

  <!--(click) is same as on-click. Angular converts to on-click automatically.-->
  <button (click)=increment()>Increment</button>
  <button (click)=decrement()>Decrement</button>
  <button (click)="counter = counter+2">Increment By 2</button>
  <button [disabled]="counter % 2 == 1">See I am getting clicked as  counter has even value</button>

  <input value={{counter}}/>   <!-- <input [value]=counter/>   both are same 
     or <input bind-value="counter"/> or <input bind-value="counter*10"/>-->
<input [value]=counter/>

<p>Two way binding</p>

<input name="name" [(ngModel)]="counter" type="number"/>

<p>Home Likes {{homeLikes}}</p>

<app-like [likes]="homeLikes"
          (likesChange)="homeLikes=$event"
></app-like>

<p>Title {{title| uppercase}} </p> <!--pipes to convert to upper case-->
<p>Title {{title| lowercase}} </p>
<p>Price {{price|currency}}</p>
<p>Price {{price | currency:'INR'}}</p>
<p>Date:  {{today |date}}</p>
<p>Date:  {{today | date: 'fullDate' | uppercase}}</p>  <!--chaining of pipes -->
<p>Date:  {{today |date:'yyyy-MM-dd'}}</p>

<p> Power : 2^3 is {{2 | power:3}}</p>

<p> Power : counter^2 is {{counter | power:2}}</p>





</div>
